Body{
Margin:0px;
Padding: 0px;
Height: 100vh;
Width: 1200px;
Background-color: white;
}
#link{
Position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50% , -50%);
Background-color: Black;
Color: White;
Padding: 40px;
}
#link:hover{
Background-color: Red;
Color: Black;
}
h1{
Margin: 25px;
font-size: 60px;
align-item: center;
}
h4{
Margin: 25px;
font-size: 20px;
align-item: center;
}
p{
Position: absolute;
Top: 100%;
Left: 50%;
Transform: translateX(-100% , -50%);
}
